**/*.md
**/.dockerignore
**/.gitignore
**/docker-compose.yml
**/Dockerfile
**/LICENSE
services/question/data/questions.json
jwt_secret.*

**/.env
**/.env.*
**/.firebase/
**/.github/
**/.git/

**/node_modules/
**/dist/

**/.DS_Store
**/.vscode/
**/.idea/
